<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>DungLDA - VMO</title>
</head>
<body>
    <div id="Container">
        <header id="Header"><span class="Container__item">THIS IS A HEADER</span></header>
        <section id="Main">
            <div class="Content__item Content_item--1"><span>MENU</span></div>
            <div class="Content__item Content_item--2"><span>SOME TEXT</span></div>
            <div class="Content__item Content_item--3">
                <div><span class="Content__item">AN IMAGE</span></div>
                <div><span class="Content__item">MORE TEXT</span></div>
            </div>
        </section>
    </div>
</body>
</html>