<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>DungLDA - VMO</title>
</head>
<body>
    <div class="Container">
        <header id="header">
            <h1>Site name</h1>
        </header>
        <div class="header_nav">
            <ul class="header_nav_listItem">
                <li><a href="">Link</a></li>
                <li><a href="">Link</a></li>
                <li><a href="">Link</a></li>
                <li><a href="">Link</a></li>
                <li><a href="">Link</a></li>
            </ul>
        </div>
        <section id="main">
            <div class="Sidebar">
            </div>
            <div class="Content">
                <h3>Heading</h3>
                <p>Mauris sit amet lectus at sem fringilla tincidunt. Phasellus ornare mollis egestas. Donec a sapien metus, sit amet faucibus dotor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc nec tortor nec velit dapibus elementum. Fusce blandit accumsan sagititis. Suspendisse sodales gravida isus rutrum facilisis.Vestibulum at velit id arcu egestas condimentum. Aenana laroet leo sit amet reso eleifend pretium condimentum ac arcu. vestibulum volutpat hendreit uma, sit amet laoreet eros volpat et.</p>
                <p>Mauris sit amet lectus at sem fringilla tincidunt. Phasellus ornare mollis egestas. Donec a sapien metus, sit amet faucibus dotor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc nec tortor nec velit dapibus elementum. Fusce blandit accumsan sagititis. Suspendisse sodales gravida isus rutrum facilisis.Vestibulum at velit id arcu egestas condimentum. Aenana laroet leo sit amet reso eleifend pretium condimentum ac arcu. vestibulum volutpat hendreit uma, sit amet laoreet eros volpat et.</p>
                <p>Mauris sit amet lectus at sem fringilla tincidunt. Phasellus ornare mollis egestas. Donec a sapien metus, sit amet faucibus dotor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc nec tortor nec velit dapibus elementum. Fusce blandit accumsan sagititis. Suspendisse sodales gravida isus rutrum facilisis.Vestibulum at velit id arcu egestas condimentum. Aenana laroet leo sit amet reso eleifend pretium condimentum ac arcu. vestibulum volutpat hendreit uma, sit amet laoreet eros volpat et.</p>
            </div>
        </section>
        <footer id="footer">Footer</footer>
    </div>
</body>
</html>