<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>DungLDA - VMO</title>
</head>
<body>
    <div id="Container">
            <div class="Content__item Content__item--1"><h1>Logo</h1></div>
            <div class="Content__item Content__item--2">
                <ul class="Content__item--2 list_item">
                    <li><a href="">Home</a></li>
                    <li><a href="">Products</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
            <div class="Content__item Content__item--3">
                Feature
            </div>
            <div class="Content__item Content__item--4">
                <div class="Content__item--4__Item">
                    Column One
                </div>
                <div class="Content__item--4__Item">
                    Column Two
                </div>
                <div class="Content__item--4__Item">
                    Column Three
                </div>
            </div>
            <div class="Content__item Content__item--5">
                @Copyright 2011
            </div>
        </div>
</body>
</html>