<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>DungLDA - VMO</title>
</head>
<body>
    <Header id="Header"><span class="Header__title">Mock 1</span></Header>
    <div id="Content">
        <div class="Content__item Content__item--red"></div>
        <div class="Content__item Content__item--blue"></div>
        <div class="Content__item Content__item--red"></div>
        <div class="Content__item Content__item--blue"></div>
        <div class="Content__item Content__item--red"></div>
        <div class="Content__item Content__item--blue"></div>
        <div class="Content__item Content__item--yellow"></div>
    </div>
</body>
</html>